<div class="row wrapper border-bottom white-bg page-heading">
    <h2>Nouvelle Saison</h2>
</div>

<br />

<div class="row">
  <div class="col-lg-4">
    <div class="ibox">
      <%= render "seasons/season_form" %>
    </div>
  </div>
</div>