
<div class="row wrapper border-bottom white-bg page-heading m-b-md">
  <h2>
    Paramétrage des inscriptions
  </h2>
</div>


<%= react_component("parameters/ActivityApplications/ActivityApplicationsParameters") %>
