<%#
<!--  @minimum_password_length = User.password_length.min-->
%>

<!--<div>-->
  <%# if !resource.errors[:uniqueness].empty? %>
<!--    <div class="alert alert-danger">-->
      <%# resource.errors[:uniqueness].each do |msg| %>
<!--        <li><%#= msg %></li>-->
      <%# end %>
<!--    </div>-->
  <%# end %>
  <%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <%#= react_component('UserDetailsInput', { errors: resource.errors.to_hash }) %>

    <%#= react_component('PasswordInput', { id: 'password', name: 'user[password]', label: 'Mot de passe', additional_attr: {minLength: @minimum_password_length} }) %>
    <%# resource.errors[:password].each do |msg| %>
<!--      <div class="alert alert-danger"><%#= msg %></div>-->
    <%# end %>
    <%#= react_component('PasswordInput', { id: 'password_confirmation', name: 'user[password_confirmation]', label: 'Confirmer mot de passe', error: resource.errors[:password_confirmation].join(', ') }) %>


    <%# unless Recaptcha.configuration.site_key.nil? %>
<!--      <div class="form-group">-->
        <%#= recaptcha_v3(action: "sign_up") %>
<!--      </div>-->
    <%# end %>



    <%#= f.submit "Inscription", class: "btn btn-primary block full-width m-b" %>

    <%#= render "devise/shared/links" %>
  <%# end %>
<!--</div>-->

<%= react_component('RegistrationForm', { errors: resource.errors.to_hash, recaptcha_key: Recaptcha.configuration.site_key, additional_attr: {minLength: @minimum_password_length} }) %>
