<div class="row wrapper border-bottom white-bg page-heading">
        <h2>
            Resolution du conflit 
        </h2>
</div>

<%= react_component("planning/Planning", {
    modal: true,
    detailsModal: true,
    isAdmin:  current_user.admin?,
    isTeacher: current_user.teacher?,
    displayOnly: false,
    intervals: @intervals,
    modal: false,
    plannings: @plannings,
    season: @season,
    conflict: @conflict,
    currentUserId: current_user&.id,
    show_activity_code: @show_activity_code,
    recurrenceActivated: @recurrence_activated
}) %>
