<div class="row wrapper border-bottom white-bg page-heading">
    <h1>Répliquer des cours sur certaines dates</h1>
</div>  

<p class="m-t-md m-b-md m-l">Sélectionnez les dates sur lesquels les cours s'ajouteront à partir d'une des deux options ci-dessous: </p>

<%= react_component("scripts/replicate_activities/ReplicateAct", {season: @season}) %>