<div class="row wrapper border-bottom white-bg page-heading">
    <h1>Répliquer les cours d'une semaine sur une plage de dates </h1>
</div>  

<p class="m-t-md m-b-md">Cette page permet de répliquer tous les cours d'une semaine-modèle vers une période spécifique.
  Cette période peut être constituée d'une seule journée ou d'une plage de dates. Par défaut, les vacances et jours fériés sont
  exclus de la réplication mais vous pouvez choisir de les inclure.</p>

<%= react_component(
      "scripts/replicate_activities/ReplicateWeekAct",
      {
        season: @season,
        replicationMaxDelay: Parameter.get_value("app.replicate_week_activities.max_delay") || 14
      }
    ) %>