ol.progtrckr {
  list-style-type: none;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
}

ol.progtrckr li {
  line-height: 4.8rem;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;

}

ol.progtrckr li span {
  font-size-adjust: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow-wrap: break-word;
  position: relative;
  bottom: 29%;
  left: -9%;
}

@media (max-width: 1000px) {
  .progtrckr li span {
    display: none;
  }
}
.progtrckr em {
  display: none;
  font-weight: 700;
  font-size: 1.5rem;
  position: relative;
  top: -24%;
  left: -7%;
}

@media (max-width: 1000px) {
  .progtrckr em {
    display: inline;
  }
}

ol.progtrckr li.progtrckr-todo {
  color: silver;
  border-bottom: 6px dotted silver;
}

ol.progtrckr li.progtrckr-doing {
  color: #00334A;
  border-bottom: 6px dotted #015277;
}

ol.progtrckr li.progtrckr-done {
  color: #00334A;
  border-bottom: 6px dotted #00334A;
}

ol.progtrckr li:after {
  content: "\00a0\00a0";
}

ol.progtrckr li:before {
  position: relative;
  bottom: -28px;
  float: left;
  left: 41%;
}

ol.progtrckr li.progtrckr-todo:before {
  content: "";
  color: silver;
  background-color: silver;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

ol.progtrckr li.progtrckr-todo:hover:before {
  color: #0079BF;
  content: "";
  background-color: #0079BF;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

ol.progtrckr li.progtrckr-doing:before {
  content: "";
  color: white;
  background-color: #0079BF;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 22px;
}

ol.progtrckr li.progtrckr-doing:hover:before {
  color: #0079BF;
}

ol.progtrckr li.progtrckr-done:before {
  content: "\2713";
  color: white;
  background-color: #00283B;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 22px;
}

ol.progtrckr li.progtrckr-done:hover:before {
  color: #00283B;
}

.progtrckr {
    margin-bottom: 50px;
}
