ol.progtrckr {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 4.5rem;
  cursor: pointer;
}

ol.progtrckr li span {
  padding: 0 1.5rem;
}

@media (max-width: 650px) {
  .progtrckr li span {
    display: none;
  }
}
.progtrckr em {
  display: none;
  font-weight: 700;
  padding-left: 1rem;
}

@media (max-width: 650px) {
  .progtrckr em {
    display: inline;
  }
}

ol.progtrckr li.progtrckr-todo {
  color: silver;
  border-bottom: 6px dotted silver;
}

ol.progtrckr li.progtrckr-doing {
  color: #00334A;
  border-bottom: 6px dotted #00334A;
}

ol.progtrckr li.progtrckr-done {
  color: #00334A;
  border-bottom: 6px dotted #00334A;
}

ol.progtrckr li:after {
  content: "\00a0\00a0";
}

ol.progtrckr li:before {
  position: relative;
  bottom: -25px;
  float: left;
  left: 50%;
}

ol.progtrckr li.progtrckr-todo:before {
  content: "\039f";
  color: silver;
  background-color: silver;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

ol.progtrckr li.progtrckr-todo:hover:before {
  color: #0079BF;
}

ol.progtrckr li.progtrckr-doing:before {
  content: "\2022";
  color: white;
  background-color: #0079BF;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

ol.progtrckr li.progtrckr-doing:hover:before {
  color: #0079BF;
}

ol.progtrckr li.progtrckr-done:before {
  content: "\2713";
  color: white;
  background-color: #00283B;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

ol.progtrckr li.progtrckr-done:hover:before {
  color: #00283B;
}

.progtrckr {
    margin-bottom: 50px;
}
