<div class="row wrapper border-bottom white-bg page-heading">
  <h2>Paramètres avancés: Mails</h2>
</div>

<br/>

<%= react_component("editParameters/MailSettings", {
  mail_settings: @mail_settings,
}) %>