<div class="row wrapper border-bottom white-bg page-heading m-b-md">
  <h2> Plugins </h2>
</div>

<div class="row">
  <div class="col-lg-12">
    <%= react_component("plugins/Plugins") %>
  </div>

</div>



