<div class="row wrapper border-bottom white-bg page-heading m-b-md">
  <h2>
      Demandes d'inscription
      <%= link_to new_activities_application_path, class: "btn btn-sm btn-primary pull-right" do %>
          <i class="fas fa-plus"></i> Créer une inscription
      <% end %>
  </h2>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
        <%= react_component("ActivitiesApplicationsList", {
          admins: @admins,
          seasons: @seasons,
          statuses: @statuses,
          activities: @activities,
          evaluationLevelRefs: @evaluation_level_refs,
          dashboardInfos: {
            processingApplicationsCount: @processing_applications_count,
            processedApplicationsCount: @processed_applications_count,
            applicationsToProcess: @applications_to_process,
            applicationCount: @applications_count,
            adherentCount: @adherent_count,
          },
        }) %>            
    </div>
  </div>
</div>




