<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @music_genre.name %>
</p>

<%= link_to 'Edit', edit_practice_music_genre_path(@music_genre) %> |
<%= link_to 'Back', practice_music_genres_path %>
