<div class="row wrapper border-bottom white-bg page-heading">
  <h1>  Liste des évènements  </h1>
</div>

<br/>

<div class="col-lg-12 col-sm-12">
  <%= react_component("eventsRules/EventsRules", {
    templateNames: @template_names
  }) %>
</div>