<tr>
    <td><%= pricing.id %></td>
    <td><%= pricing.label %></td>
    <td>
        <%= link_to edit_pricing_path(pricing), class: "btn-sm btn-primary m-r-sm" do %>
            <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to pricing_path(pricing), method: :delete, class: "btn-sm btn-warning", data: { confirm: "Supprimer ce type de tarif ?"} do %>
            <i class="fas fa-trash"></i>
        <% end %>
    </td>
</tr>