<div class="row m-t">
    <div class="col-lg-4 col-sm-12">
        <div class="ibox">
            <div class="ibox-title">
                <h1>Créer un type de tarif</h1>
            </div>
            <div class="ibox-content">
                <%= render partial: "pricing_form", object: Pricing.new, as: :pricing %>
            </div>
        </div>
    </div>
</div>
