<div class="row m-t">
    <div class="col-lg-4 col-sm-12">
        <div class="ibox">
            <div class="ibox-title">
                <h1>Éditer un statut d'inscription</h1>
            </div>
            <div class="ibox-content">
                <%= render partial: "activity_application_status_form", object: @activity_application_status, as: :status %>
            </div>
        </div>
    </div>
</div>
