 <div class="row wrapper border-bottom white-bg page-heading">
    <h2>Ajouter une Activité</h2>
</div>

<br />
 <br />

    <div class="row m-t">
        <%=
            react_component "activityRef/ActivityRefContainer", {
            postTo: "create",
            seasons: @seasons,
            activityRef: @activity_ref,
            activityTypes:ActivityRef.translated_activity_types.map {|translation, value, index|  {label:translation, value:value}},
            activityRefImage: @activity_ref.picture.attached? ?  url_for(@activity_ref.picture) : nil,
            activityRefKinds: @activity_kinds,
            activityRefApplicationOptions: { applicationOptions: @activity_ref_application_options},
            nextCycles: @next_cycles,
            activityRefs: @activity_refs,
            activityInstruments: @activity_ref.instruments,
            instruments: Instrument.all,
            currentSeasonId: Season.current.id,
            teachers: @teachers
            } %>
    </div>

