<div class="row wrapper border-bottom white-bg page-heading m-b-md">
    <h2>
        Ajouter un instrument
    </h2>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="ibox">
            <%= render "instruments/form" %>
        </div>
    </div>
</div>