<div class="row m-t">
  <div class="col-lg-4 col-sm-12">
    <div class="ibox">
      <div class="ibox-title">
        <h1>Éditer une localisation</h1>
      </div>
      <div class="ibox-content">
        <%= render 'form', location: @location %>
      </div>
    </div>
  </div>
</div>
