<div class="row wrapper border-bottom white-bg page-heading">
  <h2>Paramètres avancés : Exports CSV</h2>
</div>

<br/>

<%= react_component("editParameters/CsvSettings", {
  csv_settings: @csv_settings,
}) %>