<div class="row wrapper border-bottom white-bg page-heading">
  <h2>Paramètres : Formules</h2>
</div>

<br/>

<%= react_component("editParameters/FormulesParameters", {
  show_formules: @show_formules,
}) %>

